[defaults]
roles_path = ../roles:roles
inventory = localhost,
local_tmp = ../.cache/ansible/tmp/local
remote_tmp = ../.cache/ansible/tmp/remote
retry_files_enabled = False

[privilege_escalation]
become = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml
